<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echowaves.wisaw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
		android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
		android:launchMode="singleTask"
      	android:windowSoftInputMode="stateVisible|adjustPan">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

          <!-- Branch URI Scheme -->
          <intent-filter>
              <data android:scheme="wisaw" />

              <action android:name="android.intent.action.VIEW" />

              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
          </intent-filter>

          <!-- Branch App Links (optional) -->
          <intent-filter android:autoVerify="true">
              <action android:name="android.intent.action.VIEW" />

              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />

              <data
                  android:host="link.wisaw.com"
                  android:scheme="https" />
              <data
                  android:host="link-alternate.wisaw.com"
                  android:scheme="https" />
          </intent-filter>
      </activity>
        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_bfxOER1DaZ6pQzOMj9chBffdwFaB8vg4" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_ncxIvG6Bj2YfGsUUo0nBxjfmvtnA6wxp" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />


        <!-- Branch install referrer tracking (optional) -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="87b4cce77e2726175a21523cd45fd311d50ec654"
            />
    </application>

</manifest>
