<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wisaw</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>WiSaw</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.10.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>132</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>link.wisaw.com</string>
	<key>branch_key</key>
	<string>key_live_bfxOER1DaZ6pQzOMj9chBffdwFaB8vg4</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>The photos you take will be saved in the media library</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We may use perepheral devices</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We may need to acces your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>This will allow you to take photos with the application. A photo will be stored in your photo album and uploaded to the cloud.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need to know your location so that we can show you posts in your area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>You need to enable your location, in order to see photos that are closest to you.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>You need to enable your location, in order to see photos that are closest to you.</string>
	<key>NSMotionUsageDescription</key>
	<string>This will help us to improve the relevance of posts that you can see related to you location.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Want to have your photos stored on your device? Why don&apos;t you enable Photo Library?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Want to see photos stored on your device? Why don&apos;t you enable it?</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Some description</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires contacts access to function properly.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires Bluetooth acccess to function properly.</string>
</dict>
</plist>
